{
    "extends": ["@apify/ts"],
    "overrides": [
        {
            "files": ["**/*.ts"],
            "rules": {
                "no-void": 0,
                "@typescript-eslint/no-explicit-any": 0,
                "no-empty-function": 0,
                "@typescript-eslint/no-empty-function": 1,
                "@typescript-eslint/no-unsafe-declaration-merging": 0
            }
        }
    ]
}
