{
    "extends": ["@apify/ts"],
    "overrides": [
        {
            "files": ["packages/*/src/**/*.ts"],
            "rules": {
                "no-useless-constructor": 0,
                "@typescript-eslint/no-non-null-assertion": 0
            }
        }
    ]
}
