name: Check & Release

on:
    push:
        branches: [ master, renovate/** ]
    pull_request:
        branches: [ master ]

jobs:
    test:
        name: Test
        if: ${{ !contains(github.event.head_commit.message, '[skip ci]') }}
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                node-version: [ 16, 18, 20, 22 ]

        steps:
            -   uses: actions/checkout@v6
            -   name: Use Node.js ${{ matrix.node-version }}
                uses: actions/setup-node@v6
                with:
                    node-version: ${{ matrix.node-version }}
            -   name: Cache node_modules
                uses: actions/cache@v5
                with:
                    path: '**/node_modules'
                    key: ${{ runner.os }}-${{ matrix.node-version }}-modules-${{ hashFiles('**/package-lock.json') }}
            -   name: Update NPM
                run: npm install --no-audit -g npm@9
                if: matrix.node-version < 18
            -   name: Install Dependencies
                run: npm ci --no-audit
            -   name: Run Tests
                run: npm test

    build:
        name: Build
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v6
            -   name: Use Node.js 20
                uses: actions/setup-node@v6
                with:
                    node-version: 24
            -   name: Cache node_modules
                uses: actions/cache@v5
                with:
                    path: '**/node_modules'
                    key: ${{ runner.os }}-${{ matrix.node-version }}-modules-${{ hashFiles('**/package-lock.json') }}
            -   name: Install Dependencies
                run: npm ci --no-audit
            -   run: npm run build

            -   name: Check build consistency
                run: |
                    git diff --exit-code || {
                        echo -e "Some files changed after running npm run build! Please build the project locally and commit the changes.";
                        exit 1;
                    }

    lint:
        name: Lint
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v6
            -   name: Use Node.js 20
                uses: actions/setup-node@v6
                with:
                    node-version: 24
            -   name: Cache node_modules
                uses: actions/cache@v5
                with:
                    path: '**/node_modules'
                    key: ${{ runner.os }}-${{ matrix.node-version }}-modules-${{ hashFiles('**/package-lock.json') }}
            -   name: Install Dependencies
                run: npm ci --no-audit
            -   run: npm run lint

    publish:
        name: Publish to NPM
        if: github.ref == 'refs/heads/master'
        needs: [ test, build, lint ]
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v6
                with:
                    fetch-depth: 0 # we need to pull everything to allow lerna to detect what packages changed
            -   uses: actions/setup-node@v6
                with:
                    node-version: 24
            -   name: Cache node_modules
                uses: actions/cache@v5
                with:
                    path: '**/node_modules'
                    key: ${{ runner.os }}-${{ matrix.node-version }}-modules-${{ hashFiles('**/package-lock.json') }}
            -   name: Check for changes
                id: changed_packages
                run: |
                    echo "changed_packages=$(npx lerna changed -p | wc -l | xargs)" | tee -a $GITHUB_OUTPUT
            -   name: Execute publish workflow
                if: steps.changed_packages.outputs.changed_packages != '0'
                uses: apify/workflows/execute-workflow@main
                with:
                    workflow: publish_to_npm.yaml
                    inputs: >
                        { 
                            "ref": "master" 
                        }
